<div class="not-found-page">
  <div class="mt-3">
    <div>
      <p class="title">404: Page not found</p>
      <div class="image">
        <img src="assets/icons/404.svg" style="width: 256px; height: 280px;">
      </div>
      <p class="text-under-image">Sorry, we could not find that page. Check that you typed the address correctly,
        go back to your previous page or return home.</p>
      <div class="button-container">
        <button type="button" routerLink="" class="btn">
          Return Home
        </button>
      </div>
    </div>
  </div>
</div>