@import "variables";

:host {
  font-size: 14px;
}
.footer-container{
  max-width: 1260px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #FFFFFF;
  height: em(96px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.copyright {
  cursor: pointer;
  padding-top: em(16px);
  &-text {
    color: $greyMedium;
    font-family: $interMedium;
    font-size: em(14px);
    letter-spacing: 0;
    line-height: em(17px);
  }
}
