// color
$green: #2BB473;
$greenHover: #22905C;
$colorTextWhite: #ffffff;
$colorTextDark: #333333;
$colorBorder: #BDBDBD;
$blue: #215274;
$blueHover: #123E5E;
$white: #FFFFFF;
$whiteHover: #F5F5F5;

$main-color: #2BB673;
$secondary-color: #215274;
//colors helpers
$white: #ffffff;
$darkExtraLight: #edf2f2;
$greyExtraLight: #bfcfce;
$black: #000000;
$dark: #2a3a3b;
$error: lightcoral;
$red: #F46767;
$generalMedium: $secondary-color;
$general: $main-color;
$green-secondary: #6ABD92;
$darkMedium: #627273;
$greyMedium: #6C757D;
$darkMediumRgba: rgba(161, 161, 161, 0.2);

// fonts
$sans-serif: 'sans-serif';
$interRegular: "Inter", $sans-serif;
$interBold: "Inter-Bold", $sans-serif;
$interLight: "Inter-Light", $sans-serif;
$interMedium: "Inter-Medium", $sans-serif;
$interSemiBold: "Inter-Semi-Bold", $sans-serif;